[submodule "ext/ArduinoCore-avr"]
	path = ext/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "ext/AccelStepper"]
	path = ext/AccelStepper
	url = https://github.com/waspinator/AccelStepper.git
